body{
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:100vh;
  font-family: sans-serif;
  background-color: slateblue;

}

h2{
  color: white;
  text-transform: uppercase;
}

.month{
  color: white;
  font-size: 2em;
  font-weight: bold;
}

.countdown{
  margin: 30px;
  color: white;
  background-color: rgba(0,0,0,.3);
  width:100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.countdown div{
  margin: 0 15px;
  font-size: 2.5em;
  font-weight: 500 ;
  margin-top:-35px;
  position:relative;
  width: 100px;

}

.countdown div::before{
  content: "";
  position:absolute;
  bottom: -30px;
  left: 0;
  font-size: .35em;
  line-height: 35px;
  text-transform: uppercase;
  font-weight: 500;
  width:100%;
  height:35px;
}

.countdown #day::before{
  content: "days";
}
.countdown #hour::before{
  content: "hours";
}
.countdown #minute::before{
  content: "minutes";
}
.countdown #second::before{
  content: "seconds";
}